{% load static %}
<div class="page-section restaurant-detail-image-section" style=" background: url({{ customer.cover_picture.url }}) no-repeat scroll 0 0 / cover;">
    <!-- Container Start -->
    <div class="container">
      <!-- Row Start -->
      <div class="row">
        <!-- Column Start -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="company-info-detail">
            <div class="company-info">
              <div class="img-holder">
                <figure>
                  <img src="{{ customer.profile_picture.url }}" alt="">
                </figure>
              </div>
              <div class="text-holder">
                <span class="restaurant-title">{{ customer.user.first_name }} {{ customer.user.last_name }}</span>
                <ul class="user-info-contact">
                  <li class="cell"><i class="icon-phone"></i><a href="tel:0123456789">{{ customer.user.phone }}</a></li>
                  <li class="email"><i class="icon-mail5"></i><a href="mailto:dum4@chimpgroup.com">{{ customer.user.email }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Column End -->
      </div>
      <!-- Row End -->
    </div>
    <!-- Container End -->
  </div>