<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
      <ul>
        <li class="active"><a href="{% url '' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
        <li><a href="{% url '' %}" class="btn-edit-profile"><i class="icon-file-text2"></i>My Bookings</a></li>
        <li><a href="{% url '' %}" class="btn-edit-profile"><i class="icon-comment2"></i>My Reviews</a></li>
        <li><a href="{% url '' %}" class="btn-edit-profile"><i class="icon-add_shopping_cart"></i>My Orders</a></li>
        <li><a href="{% url '' %}"><i class="icon-heart"></i>Shortlists</a></li>
        <li><a href="{% url '' %}"><i class="icon-file-text22"></i>Statement</a></li>
        <li><a href="{% url '' %}"><i class="icon-build"></i>Account Settings</a></li>
        <li><a id="profile_delete" href="{% url '' %}"><i class="icon-delete"></i>Delete Profile</a></li>
        <li><a href="{% url '' %}"><i class="icon-log-out"></i>Sign out</a></li>
      </ul>
    </div>
  </div>